/*////////////////////////////////////////////////////////////////////
text animation
///////////////////////////////////////////////////////////////////*/

.img-card {
    width: 100%;
    /*height: 160px !important;*/
    border-top-left-radius: calc(0.25rem - 1px) !important;
    border-top-right-radius: calc(0.25rem - 1px) !important;
    border-radius: unset !important;
}

.con {
    position: relative;
}



.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlayFade {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #008cba !important;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
    background-color: #008cba;
}

.con:hover .overlay,
.con:hover .overlayFade {
    opacity: 1;
}

/* Custom ScrollBar design*/

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}


/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #009578;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #04daaf;
}

/*///////////////////////////////////*/
.ref {
    display: block;
}

/*////////////////////////////////*/

.product-quantity::-webkit-inner-spin-button,
.product-quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-quantity {
    -moz-appearance: textfield;
}

.lam {
    height: 50vh;
    position: relative;

}

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mbr-gallery-title {
    font-family: Montserrat;
    font-size: 0.9em;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    padding: 0.5rem;
    color: #fff;
    background: -webkit-linear-gradient(left, rgba(85, 67, 70, 0.5), rgba(69, 80, 91, 0.5)) !important;
    background: -moz-linear-gradient(left, rgba(85, 67, 70, 0.5), rgba(69, 80, 91, 0.5)) !important;
    background: -o-linear-gradient(left, rgba(85, 67, 70, 0.5), rgba(69, 80, 91, 0.5)) !important;
    background: -ms-linear-gradient(left, rgba(85, 67, 70, 0.5), rgba(69, 80, 91, 0.5)) !important;
    background: linear-gradient(left, rgba(85, 67, 70, 0.5), rgba(69, 80, 91, 0.5)) !important;
    -webkit-transition: .2s background ease-in-out;
    transition: .2s background ease-in-out;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

.img-product {
    border-radius: 30px;
}
